@page "/"
@using ChatRoom.Models
@using MudBlazor
@inject HttpClient Http

<MudContainer>
    <i>
        <MudTextField @bind-Value="_message" Label="Сообщение вводить сюды" Style="background-color: antiquewhite"/>
    </i>
    <MudButton Style="background-color: #1b6ec2" OnClick="SendMessageAsync">Отправить</MudButton>
    <MudList T="Message">
        <MudText>Список сообщений чата:</MudText>
        <ul style="background-color: darkkhaki">
            @if (_messages != null)
            {
                foreach (var message in _messages)
                {
                    <li>
                        <MudListItem>@message.CreatedAt - @message.Text</MudListItem>
                    </li>
                }
            }
        </ul>
    </MudList>
</MudContainer>

@code {
    private string _message = null!;
    private List<Message>? _messages = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadMessagesAsync();
    }

    private async Task LoadMessagesAsync()
    {
        _messages = await Http.GetFromJsonAsync<List<Message>>("api/messages/");
    }

    private async Task SendMessageAsync()
    {
        if (string.IsNullOrEmpty(_message))
            return;

        var message = new Message
        {
            Id = Guid.NewGuid(),
            Text = _message
        };
        var url = $"api/messages/{message.Id}";
        await Http.PutAsJsonAsync(requestUri: url, value: message);
        _message = string.Empty;
        await LoadMessagesAsync();
    }

}
