@page "/"
@using ChatRoom.Models
@using MudBlazor
@inject HttpClient Http

<MudContainer>
    <i>
        <MudTextField @bind-Value="messageToSend" Label="Сообщение вводить сюды" Style="background-color: antiquewhite"/>
    </i>
    <MudButton Style="background-color: #1b6ec2" OnClick="SendMessageAsync">Отправить</MudButton>
    <MudList T="Message">
        <MudText>Список сообщений чата:</MudText>
        <ul style="background-color: darkkhaki">
            @if (messages != null)
            {
                foreach (var message in messages)
                {
                    <li>
                        <MudListItem>@message.CreatedAt - @message.Text</MudListItem>
                    </li>
                }
            }
        </ul>
    </MudList>
</MudContainer>

@code {
    private string messageToSend = null!;
    private List<Message>? messages = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadMessagesAsync();
    }

    private async Task LoadMessagesAsync()
    {
        messages = await Http.GetFromJsonAsync<List<Message>>("api/messages/");
    }

    private async Task SendMessageAsync()
    {
        if (string.IsNullOrEmpty(messageToSend))
            return;

        var message = new Message
        {
            Text = messageToSend
        };
        var url = $"api/messages/{Guid.NewGuid()}";
        await Http.PutAsJsonAsync(requestUri: url, value: message);
        messageToSend = string.Empty;
        await LoadMessagesAsync();
    }

}
